@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

a {
  color:black;
  text-decoration: none;
}
p {
  line-height: 23px;
  text-indent: 20px;
}
h1 {
  font-size: 50px; text-align: center;
  color:pink;text-shadow: 1px 1px brown;
  border-bottom: grey 1px solid;
  margin: 0;
  padding: 20px;
}
#ulol {
  border-right: grey 1px solid;
  margin:0;
  padding-top: 5px;
  width: 260px;
  z-index: 1;
}
#grid {
  display: grid; grid-template-columns: 260px 1fr;
}
#grid2 {
  display: grid; grid-template-columns: 210px 1fr;
}
#note1 {
  margin: 25px;
  margin-left: 10px;
  margin-top: 30px;
  height: 25px;
  font-style: italic;
}
.unactive {
  color: darkgrey;
}
#active {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px
}
#article {
  padding-left: 20px;
}
#border {
  box-sizing: content-box;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  z-index:1;
  letter-spacing: -1px;
  word-break:keep-all;
  word-wrap: break-word;
  font-family: "notosanskr","맑은고딕";
}
.img {
  text-align: center;
}
.float-container img {
  float: left;
  width: 150px;
  margin: 5px;
  padding: 5px;
}
#gridforsidebars {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  box-sizing: content-box;
  margin: 0 auto;
  width: 1600px;
  height: auto;
}

#sidebar-left {
  position: relative;
  left: -70px;
  width: 300px;
}
#sidebar-right {
  position: relative;
  right: 80px;
  width: 300px;
}
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  max-width: 100%;
  height: 0;
  overflow: hidden;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media(max-width:700px) {
  #grid {
    display: block;
  }
  #gridforsidebars {
    display: block;
    width: auto;
  }
  #ulol {
    border-right: none;
    border-bottom: 1px grey solid;
    width: auto;
  }
  h1 {
    border-bottom: none;
  }
  #border {
    box-sizing: border-box;
    width: auto;
  }
  #sidebar-left, #sidebar-right {
    display: none;
  }
}
body {
  margin: 0;
}
